body {
  margin: 0 auto;
  background: radial-gradient(#0072b6, #050141);
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.weather-app {
  max-width: 1500px;
  border: 1px solid #3fdbf0;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: white;
}

.search-form {
  margin-top: -10px;
  margin-left: 120px;
  margin-right: 120px;
  outline-color: black;
}

.search-input {
  margin: 0 auto;
}

.form-control {
  text-align: left;
  border-radius: 14px;
  padding-right: -5px;
}

.btn-primary {
  text-align: center;
  background: radial-gradient(#3fdbf0, #9198e5);
  border-width: 3px;
  border-color: rgb(0, 20, 68);
  margin-left: -20px;
}

.current-forecast {
  text-align: center;
  margin-top: -50px;
}

.now-date {
  font-size: 12px;
}

.current-date {
  font-size: 25px;
  margin-top: 20px;
}

.now-city {
  font-size: 30px;
  text-transform: uppercase;
}

.weather-temperature img {
  max-width: 30%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.temp-description {
  margin-bottom: -70px;
}

.current-temperature {
  font-size: 64px;
  text-align: center;
  color: white;
  word-spacing: -15px;
}

.temp-description small {
  display: inline-block;
  position: relative;
  top: -35px;
  color: white;
  font-size: 16px;
  text-align: center;
}

.unitsDegree {
  text-decoration: none;
}

.description {
  list-style: none;
  font-size: 30px;
  text-align: center;
  text-indent: -34px;
  line-height: 12px;
  text-transform: capitalize;
}

.temp-elements {
  display: inline;
  font-size: 20px;
}

.wind-speed {
  float: left;
  padding-left: 150px;
  display: inline;
  padding-bottom: 20px;
  list-style: none;
}

.humidity {
  text-align: right;
  padding-right: 180px;
  list-style: none;
  padding-bottom: 0px;
}

.github {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  color: white;
}
