body {
  margin: 0 auto;
  background: url("https://images.wallpapersden.com/image/download/lightning-at-night-hd_bGlpamiUmZqaraWkpJRnamtlrWZpaWU.jpg");
  background-size: cover;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

img {
  margin-top: -22px;
  margin-bottom: -10px;
  width: 120px;
}

.weather-app {
  max-width: 1500px;
  border: 1px solid #3fdbf0;
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
}

.search-form {
  margin-top: -25px;
  margin-left: 120px;
  margin-right: 120px;
  outline-color: black;
}

.form-control {
  text-align: left;
  border-radius: 14px;
  padding-right: -5px;
}

.btn-primary {
  text-align: center;
  background: radial-gradient(#3fdbf0, #9198e5);
  border-width: 3px;
  border-color: rgb(0, 20, 68);
  margin-left: -20px;
}

.current-forecast {
  text-align: center;
  margin-top: -50px;
}

.now-date {
  font-size: 10px;
}

.current-date {
  font-size: 25px;
  margin-top: 10px;
}

.now-city {
  font-size: 30px;
  text-transform: uppercase;
}

.temp-description {
  margin-top: 10px;
  margin-bottom: -47px;
}

.current-temperature {
  font-size: 50px;
  text-align: center;
  word-spacing: -15px;
  padding-left: 10px;
}

.temp-description small {
  display: inline-block;
  position: relative;
  top: -35px;
  font-size: 18px;
  text-align: center;
}
.weather-icon a {
  color: white;
  text-decoration: none;
}
.weather-icon .active {
  cursor: default;
}
.weather-icon .active:hover {
  text-decoration: none;
}
.description {
  font-size: 24px;
  text-align: center;
  text-indent: -34px;
  line-height: 12px;
  text-transform: capitalize;
}

.temp-elements {
  display: inline;
  font-size: 20px;
}

.wind-speed {
  float: left;
  padding-left: 100px;
  display: inline;
  list-style: none;
}

.humidity {
  float: right;
  padding-right: 145px;
  list-style: none;
}

.row {
  display: flex;
}

.weather-forecast {
  text-transform: capitalize;
  justify-content: center;
  margin-left: 200px;
}

.card {
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  text-align: center;
  color: rgb(4, 4, 117);
  background: radial-gradient(#3fdbf0, #9198e5);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

.github {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  color: white;
}
